<h1 class="welc">Submission received!</h1>

<form method="GET" action="/task/loginwelc">
	<input type="submit" value="Add a new product?" class="submitform">
    </section>
</form>

<section class="tasks-container">
   
     <form method="POST" action="/task/search">
        <div class="searchby">
            <label>Search By</label>
            <select name="task-search">
                    <option value="all">All rooms</option>
                    <option value="50">$10-$50</option>
                    <option value="100">$51-$100</option>
                    <option value="150">$101-$150</option>
                    <option value="200">$151-$200</option>
                    <option value="250">$201-$250</option>
                    <option value="300">$251-$300</option>
                    <option value="up">$301-up</option>
            </select>
            <input type="submit" value="Search" class="searchfilter">
        </div>
     </form> <br><br>

    <table border="1" style="text-align: center;"  class="tablebody">
        <thead>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                   <td>
                        <a href="" class="task-title">{{this.title}}</a>
                   </td>
                   <td>
                       <span>{{this.description}}</span>
                      
                   </td>
                   <td>
                        <span>{{this.price}}</span>
                   </td>
                   <td>
                        <a href="/task/edit/{{this.id}}" class="edit-delete-button">Edit</a>
                        <a href="/task/delete/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a>
                   </td> 
                </tr>

                {{else}}
                    <td colspan="5">
                        <p>No tasks in the database</p>
                    </td>

                {{/each}}
    </tbody>
    </table>
 
</section>
