<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Vagabond: Travel and Relax!">
        <meta name="author" content="Reynaldo Sia Jr.">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://kit.fontawesome.com/2228eed549.js" crossorigin="anonymous"></script>
        <!-- Used Roboto font from Google font website -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
<h1 class="search">Search Results</h1>

<div class="roomgrid">

{{#each products }}
    <article class="productsbox">
        <img src="{{ this.img }}" alt="{{ this.title }}" class="product">
        <h2 class="prodtitle" id="prodtitle">{{ this.desc }}</h2>
        <p class="prodprice" id="prodprice">Price per night: <ins class="insprice">${{ this.rate }}</ins></p>
    </article>
{{/each}}

</div>

</body>
</html>
